{# empty Twig template #}
<footer class="footer">
<div class="container">
<p class="pull-right">Sitio Web por <a href="http://www.pronet21.com">Pronet21</a>. Gestionado con <a href="http://www.administracion-condominio.com.ve">Valoriza2</a></p>
<address>
<strong><a href="#">Administradora Jeserla C.A</a></strong> - <small>Rif. J-29986681-4</small><br>
Av Tosta García, entre Calle Zamora -8 y Calle Santana -7. Charallave.<br>
Estado Miranda. Teléfonos: (0239) 516.5983 / (0412) 638.9701
</address>
</div>
</footer>