{# Pantilla para mostrar resultados de operaciones #}
{%if resultado%}
<div class="alert alert-{{resultado.suceed == true? 'success':'error' }}">
    <a data-dismiss="alert" class="close" data-dismiss="alert">&times;</a>
    <p><strong>{{ resultado.mensaje|capitalize|nl2br }}</strong></p>
    {% if constant('DEBUG')%}
    <pre>
        {{ dump(resultado)}}
    </pre>
    {%endif %}
</div>
{%endif%}